.platform {



  &__content {
    // Test size, auto resize.
    width: 600px;
    //height: 724px;
    padding: 155px 0;

    float: left;

    //border: black solid 1px;
    background-color: white;
  }

  &__label {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__description-basic {
    margin-bottom: 30px;
  }

  &__description-basic-two {

  }
}