html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
}
textarea {
  resize: none;
}
address {
  font-style: normal;
}
input,
textarea,
button,
select {
  outline: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}
.link {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
  line-height: 26px;
}
.link a {
  margin-bottom: 0;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.link a:hover {
  color: #ff8a8a;
  text-decoration: underline;
}
.link a:last-child {
  margin-bottom: 0;
}
.link p a {
  display: inline-block;
}
.input {
  width: 261px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.08);
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.04em;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.659);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.659);
}
.input_footer-email {
  border-width: 1px;
  border-color: #4e4e5e;
  border-style: solid;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: rgba(141, 141, 141, 0.2);
  opacity: 0.4;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.4);
  width: 261px;
  height: 47px;
}
.image-container img {
  max-width: 100%;
}
.content {
  width: 1170px;
  margin: 0 auto;
}
.title {
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #282828;
  letter-spacing: 0.04em;
}
.title_dots:after {
  display: inline-block;
  margin-left: 8px;
  color: #ff6d6d;
  letter-spacing: -2px;
  content: '. . . .';
}
.title_dots-white:after {
  display: inline-block;
  margin-left: 8px;
  color: #ffffff;
  letter-spacing: -2px;
  content: '. . .';
}
.title_small {
  font-size: 22px;
}
.title_small-white {
  font-size: 22px;
  color: #ffffff;
}
.title_white {
  color: #ffffff;
}
.section {
  position: relative;
  min-width: 1190px;
}
.section__triangle {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section__triangle:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: gray;
  content: '';
}
.label {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ff6d6d;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.label_min {
  letter-spacing: 0;
  text-transform: none;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 568px solid #FB8686;
  border-top: 485px solid transparent;
  border-bottom: 0px solid transparent;
}
.header {
  background-image: url("blocks/header/images/BG-H.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 250px 0;
}
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 709px;
}
.header__heading {
  margin-bottom: 40px;
}
.header__heading-media-small {
  margin-bottom: 40px;
}
.header__icon {
  position: relative;
  margin-bottom: 40px;
}
.header__button {
  margin-bottom: 20px;
}
.icon {
  width: 59px;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}
.icon_play {
  background-color: #8286a4;
}
.icon_play:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 17px solid #ffffff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  top: 19.250px;
  left: 23px;
}
.heading {
  text-align: center;
  color: #282828;
  font: 100 60px 'Exo';
  line-height: 1.25;
}
.button {
  width: 190px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-style: none;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.2em;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.button_primary {
  background-color: #ff6d6d;
}
.button_big {
  width: 258px;
}
.button_get {
  border-width: 1px;
  border-color: #ff6d6d;
  border-style: solid;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ff6d6d;
  width: 50px;
  height: 47px;
}
.description {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
}
.text {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
  line-height: 26px;
}
.text p {
  margin-bottom: 30px;
}
.text p:last-child {
  margin-bottom: 0;
}
.text_white-alpha-italic {
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.659);
}
.text_white-alpha {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.659);
}
.text_white {
  font-weight: 400;
  color: #f6f5f3;
}
.text_services {
  font-weight: 400;
  color: rgba(246, 245, 243, 0.6);
  text-align: center;
}
.text_services:after {
  content: "terms & Services";
  text-decoration: underline;
  cursor: pointer;
}
.text_arrow:before {
  position: absolute;
  right: 200px;
  top: 10px;
  content: '';
  width: 16px;
  height: 35px;
  background-image: url("blocks/registration/images/arrow2.png");
}
.platform {
  position: relative;
  background-color: white;
}
.platform:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 568px;
  height: 100%;
  background: #ececec;
  content: '';
}
.platform__content {
  padding: 190px 568px 190px 0;
  background-color: white;
}
.platform__label {
  margin-bottom: 15px;
}
.platform__title {
  margin-bottom: 35px;
}
.features {
  background: #f6f5f3;
  overflow-y: hidden;
}
.features__content {
  position: relative;
}
.features__image {
  width: 300px;
  height: 300px;
}
.features__image_penholder {
  position: absolute;
  background-image: url("blocks/features/images/PenHolder.jpg");
  background-repeat: no-repeat;
  left: -65px;
  top: 0px;
}
.features__image_earphones {
  position: absolute;
  background-image: url("blocks/features/images/Earphones.jpg");
  background-repeat: no-repeat;
  top: -3px;
  right: -85px;
}
.features__image_coffecup {
  position: absolute;
  background-image: url("blocks/features/images/CoffeCup.jpg");
  background-repeat: no-repeat;
  right: -150px;
  bottom: -175px;
}
.features__inner {
  padding: 150px 0;
  text-align: center;
}
.features__label {
  text-align: inherit;
  margin-bottom: 10px;
}
.features__title-inner {
  margin-bottom: 70px;
  text-align: inherit;
}
.features__items {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.features__item {
  width: -webkit-calc(28% - 10px);
  width: calc(28% - 10px);
  min-width: 350px;
  background-repeat: no-repeat;
  background-position: top center;
}
.features__item_one {
  background-image: url("blocks/features/images/item-one.jpg");
}
.features__item_two {
  background-image: url("blocks/features/images/item-two.jpg");
}
.features__item_three {
  background-image: url("blocks/features/images/item-three.jpg");
}
.features__title {
  margin-top: 95px;
  margin-bottom: 10px;
}
.features__text {
  text-align: center;
}
.presentation {
  overflow-y: hidden;
  min-width: 1450px;
}
.presentation__triangle {
  width: 0;
  height: 0;
  border-left: 688px solid #ff8a8a;
  border-top: 720px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}
.presentation__triangle:after {
  position: absolute;
  bottom: 70px;
  right: -98px;
  width: 630px;
  height: 367px;
  background-image: url("blocks/presentation/images/MacBook.jpg");
  background-repeat: no-repeat;
  content: '';
}
.presentation__content {
  padding: 120px 0 120px 655px;
}
.presentation__label {
  margin-bottom: 15px;
}
.presentation__title {
  margin-bottom: 35px;
}
.clients {
  background-color: #000000;
  background-image: url("blocks/clients/images/clients-BG.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
}
.clients__content {
  padding: 70px 1%;
}
.clients__items {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
  text-align: center;
}
.clients__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
  -webkit-justify-content: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 330px;
  width: -webkit-calc(23.333%);
  width: calc(23.333%);
}
.clients__picture {
  width: 76px;
  height: 76px;
  background-color: #4e4e5e;
  border: 2px solid;
  border-color: #1d1e24;
  margin-bottom: 20px;
}
.clients__title {
  margin-bottom: 5px;
}
.clients__label {
  margin-bottom: 15px;
}
.clients__text {
  text-align: inherit;
}
.clients__logos {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
}
.clients__logo {
  display: inline-block;
}
.features-two {
  background-color: #f6f5f3;
  background-repeat: no-repeat;
  background-image: url("blocks/features-two/images/features-two-image.jpg");
  background-position: center bottom;
  padding-bottom: 350px;
}
.features-two__content {
  text-align: center;
}
.features-two__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 75px;
}
.features-two__label {
  margin-bottom: 15px;
}
.features-two__title {
  margin-bottom: 35px;
}
.features-two__text {
  max-width: 660px;
  text-align: inherit;
}
.registration {
  background-color: #323969;
  padding: 100px 0;
}
.registration__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.registration__label {
  margin-bottom: 15px;
}
.registration__title {
  margin-bottom: 7px;
}
.registration__box-text-button {
  position: relative;
}
.registration__text {
  position: absolute;
  bottom: 80px;
  right: 35px;
}
.registration__inputs {
  margin-bottom: 45px;
}
.registration__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.registration__input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74%;
}
.footer {
  padding: 81px 0 81px 0;
}
.footer__triangle {
  width: 0;
  height: 0;
  border-right: 325px solid #ff8a8a;
  border-bottom: 332px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.footer__content-box {
  padding: 0 162.5px 0 0;
}
.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__content-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__section-type-one {
  width: 305px;
}
.footer__section-type-two {
  width: 190px;
}
.footer__start-logo {
  margin-bottom: 15px;
}
.footer__title {
  padding-top: 12px;
  margin-bottom: 30px;
}
.footer__button {
  position: relative;
  top: 2px;
  margin-left: -10px;
  margin-bottom: 25px;
  background-image: url("blocks/footer/images/button-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__logos {
  padding-left: 50px;
}
.footer__logo {
  display: inline-block;
  margin-right: 35px;
}
@media screen and (min-width: 1191px) {
  .header__heading-media-small {
    display: none;
  }
}
@media screen and (max-width: 1190px) {
  .header__heading {
    display: none;
  }
  .header__heading-media-small {
    font-size: 200%;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 25%;
    padding-bottom: 35%;
  }
  .header__content {
    width: 95%;
  }
  .header__heading {
    font-size: 150%;
  }
}
@media screen and (max-width: 575px) {
  .header__content {
    width: 80%;
  }
  .header__heading-media-small {
    font-size: 143%;
  }
}
@media screen and (max-width: 400px) {
  .header__heading-media-small {
    font-size: 123%;
  }
}
@media screen and (max-width: 1190px) {
  .platform.section {
    min-width: 325px;
  }
  .platform__content {
    padding: 5% 25% 5% 25%;
  }
  .platform:before {
    display: none;
  }
  .triangle {
    display: none;
  }
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .platform__content {
    padding: 8% 20% 8% 20%;
  }
  .platform__label {
    font-size: 80%;
  }
  .platform__title {
    font-size: 170%;
  }
  .platform__text {
    font-size: 90%;
  }
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .platform__content {
    padding: 8% 15% 8% 15%;
  }
  .platform__title {
    font-size: 140%;
  }
}
@media screen and (max-width: 575px) {
  .platform__content {
    padding: 8% 8% 8% 8%;
  }
  .platform__title {
    font-size: 130%;
  }
}
@media screen and (max-width: 400px) {
  .platform__label {
    font-size: 60%;
  }
  .platform__title {
    font-size: 100%;
  }
  .platform__text {
    font-size: 80%;
  }
}
@media screen and (max-width: 1190px) {
  .features.section {
    min-width: 325px;
  }
}
@media screen and (max-width: 1050px) {
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__inner {
    padding: 8% 0;
  }
  .features__item_two {
    margin-bottom: 30px;
  }
  .features__item_one {
    margin-bottom: 30px;
  }
  .features__image {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .features__title-inner {
    font-size: 170%;
  }
  .features__label {
    font-size: 80%;
  }
}
@media screen and (max-width: 767px) {
  .features__title-inner {
    font-size: 140%;
    margin-bottom: 12%;
  }
  .features__title {
    font-size: 100%;
  }
  .features__text {
    font-size: 90%;
  }
}
@media screen and (max-width: 575px) {
  .features__title-inner {
    font-size: 130%;
  }
}
@media screen and (max-width: 400px) {
  .features__title-inner {
    font-size: 110%;
  }
  .features__label {
    font-size: 60%;
  }
  .features__text {
    font-size: 80%;
  }
  .features__item {
    min-width: 100%;
  }
}
@media screen and (max-width: 1451px) {
  .presentation__triangle:after {
    display: none;
  }
  .presentation {
    min-width: 1251px;
  }
}
@media screen and (max-width: 1251px) {
  .presentation__triangle {
    left: -190px;
  }
  .presentation__content {
    padding: 120px 130px 120px 447.5px;
  }
}
@media screen and (max-width: 1190px) {
  .presentation.section {
    min-width: 325px;
  }
}
@media screen and (max-width: 1024px) {
  .presentation__triangle {
    display: none;
  }
  .presentation__content {
    padding: 8% 25% 8% 25%;
  }
}
@media screen and (max-width: 991px) {
  .presentation__content {
    padding: 8% 20% 8% 20%;
  }
  .presentation__title {
    font-size: 170%;
  }
  .presentation__label {
    font-size: 80%;
  }
}
@media screen and (max-width: 767px) {
  .presentation__text {
    font-size: 90%;
  }
  .presentation__title {
    font-size: 140%;
  }
}
@media screen and (max-width: 575px) {
  .presentation__title {
    font-size: 130%;
  }
  .presentation__content {
    padding: 8% 8% 8% 8%;
  }
}
@media screen and (max-width: 400px) {
  .presentation__text {
    font-size: 80%;
  }
  .presentation__title {
    font-size: 100%;
    margin-bottom: 30px;
  }
  .presentation__label {
    font-size: 60%;
  }
}
@media screen and (max-width: 1190px) {
  .clients.section {
    min-width: 325px;
  }
}
@media screen and (max-width: 1050px) {
  .clients__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients__item {
    margin-bottom: 30px;
  }
  .clients__item:last-child {
    margin-bottom: 0;
  }
  .clients__logo {
    padding-right: 2%;
  }
  .clients__logo:last-child {
    padding-right: 0;
  }
  .clients__content {
    padding: 8% 8% 8% 8%;
  }
  .clients__items {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 991px) {
  .clients__title {
    font-size: 130%;
  }
  .clients__label {
    font-size: 80%;
  }
}
@media screen and (max-width: 767px) {
  .clients__text {
    font-size: 90%;
  }
}
@media screen and (max-width: 575px) {
  .clients__title {
    font-size: 125%;
  }
  .clients__label {
    font-size: 75%;
  }
}
@media screen and (max-width: 400px) {
  .clients__title {
    font-size: 100%;
  }
  .clients__label {
    font-size: 65%;
  }
  .clients__text {
    font-size: 75%;
    width: 80%;
  }
}
@media screen and (max-width: 1190px) {
  .features-two.section {
    min-width: 325px;
  }
}
@media screen and (max-width: 1050px) {
  .features-two {
    -webkit-background-size: contain;
            background-size: contain;
    padding-bottom: 35%;
  }
  .features-two__items {
    padding-top: 8%;
  }
}
@media screen and (max-width: 991px) {
  .features-two__title {
    font-size: 170%;
  }
  .features-two__label {
    font-size: 80%;
  }
}
@media screen and (max-width: 767px) {
  .features-two__title {
    font-size: 140%;
  }
  .features-two__text {
    font-size: 90%;
  }
}
@media screen and (max-width: 575px) {
  .features-two__title {
    font-size: 130%;
  }
  .features-two__items {
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 400px) {
  .features-two__title {
    font-size: 100%;
    margin-bottom: 30px;
  }
  .features-two__text {
    font-size: 80%;
  }
  .features-two__label {
    font-size: 60%;
  }
}
@media screen and (max-width: 1220px) {
  .registration.section {
    min-width: 325px;
  }
  .registration__inputs {
    padding-left: 2%;
    padding-right: 2%;
  }
  .registration__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__input-box {
    margin-bottom: 8%;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
  }
}
@media screen and (max-width: 991px) {
  .registration__title {
    font-size: 185%;
  }
  .registration__label {
    font-size: 85%;
  }
  .registration__input-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .registration {
    padding: 8% 8%;
  }
  .registration__input {
    margin-bottom: 20px;
  }
  .registration__input:last-child {
    margin-bottom: 5px;
  }
  .registration__inner {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .registration__title {
    font-size: 155%;
  }
  .registration__label {
    font-size: 80%;
  }
}
@media screen and (max-width: 575px) {
  .registration__title {
    font-size: 145%;
  }
  .text_services {
    font-size: 85%;
  }
  .registration {
    padding: 8% 4%;
  }
  .registration__input-box {
    padding-bottom: 16%;
  }
}
@media screen and (max-width: 400px) {
  .registration__title {
    font-size: 115%;
  }
  .registration__label {
    font-size: 65%;
  }
  .registration__input.input {
    width: 215px;
    font-size: 13px;
  }
  .registration__button {
    width: 216px;
    font-size: 15px;
  }
  .registration__text {
    font-size: 14px;
    right: 20px;
  }
  .text_arrow:before {
    right: 175px;
  }
  .text_services {
    font-size: 69%;
  }
  .registration__terms-of-services {
    padding: 0 25px;
  }
  .registration__inputs {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1220px) {
  .footer.section {
    min-width: 325px;
    padding: 0;
  }
  .footer__triangle {
    border-right: 225px solid #ff8a8a;
    border-bottom: 232px solid transparent;
  }
  .footer__content-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__content-inner {
    margin-bottom: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer__section-type-one {
    margin-bottom: 15px;
  }
  .footer__section-type-two {
    padding-right: 37%;
    width: 100%;
  }
  .footer__section-type-two:last-child {
    padding-right: 0;
  }
  .footer__content-box {
    padding: 0;
  }
  .footer.section {
    padding: 8% 8% 8% 8%;
  }
}
@media screen and (max-width: 575px) {
  .footer__triangle {
    border-right: 125px solid #ff8a8a;
    border-bottom: 132px solid transparent;
  }
}
@media screen and (max-width: 400px) {
  .footer__link {
    font-size: 80%;
    text-align: center;
  }
  .footer__title {
    font-size: 100%;
  }
  .footer__input {
    width: 215px;
  }
  .footer__form {
    width: 85%;
    margin: 0 auto;
  }
  .footer__section-type-two {
    padding-right: 10px;
  }
  .footer__content-box {
    text-align: center;
  }
}
body {
  background-color: white;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
