html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
}
textarea {
  resize: none;
}
address {
  font-style: normal;
}
input,
textarea,
button,
select {
  outline: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}
.link {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
  line-height: 26px;
}
.link a {
  margin-bottom: 0;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.link a:hover {
  color: #ff8a8a;
  text-decoration: underline;
}
.link a:last-child {
  margin-bottom: 0;
}
.link p a {
  display: inline-block;
}
.input {
  width: 261px;
  padding-left: 30px;
  padding-top: 11px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.08);
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.04em;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.659);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.659);
}
.input_footer-email {
  border-width: 1px;
  border-color: #4e4e5e;
  border-style: solid;
  border-radius: 3px;
  background-color: rgba(141, 141, 141, 0.2);
  opacity: 0.4;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.4);
  width: 261px;
  height: 47px;
}
.image-container img {
  max-width: 100%;
}
.content {
  width: 1170px;
  margin: 0 auto;
}
.title {
  font-family: 'Exo', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #282828;
  letter-spacing: 0.04em;
}
.title_dots:after {
  display: inline-block;
  margin-left: 8px;
  color: #ff6d6d;
  letter-spacing: -2px;
  content: '. . . .';
}
.title_dots-white:after {
  display: inline-block;
  margin-left: 8px;
  color: #ffffff;
  letter-spacing: -2px;
  content: '. . .';
}
.title_small {
  font-size: 22px;
}
.title_small-white {
  font-size: 22px;
  color: #ffffff;
}
.title_white {
  color: #ffffff;
}
.section {
  position: relative;
  min-width: 1190px;
}
.section__triangle {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section__triangle:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: gray;
  content: '';
}
.label {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ff6d6d;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.label_min {
  letter-spacing: 0;
  text-transform: none;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 568px solid #FB8686;
  border-top: 485px solid transparent;
  border-bottom: 0px solid transparent;
}
.header {
  background-image: url("blocks/header/images/BG-H.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-width: 1190px;
  padding: 250px 0;
}
.header__content {
  width: 709px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__heading {
  margin-bottom: 40px;
}
.header__icon {
  position: relative;
  margin-bottom: 40px;
}
.header__button {
  margin-bottom: 20px;
}
.icon {
  width: 59px;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}
.icon_play {
  background-color: #8286a4;
}
.icon_play:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 17px solid #ffffff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  top: 19.250px;
  left: 23px;
}
.heading {
  text-align: center;
  color: #282828;
  font: 100 60px 'Exo';
  line-height: 1.25;
}
.button {
  width: 190px;
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.2em;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.button_primary {
  background-color: #ff6d6d;
}
.button_big {
  width: 258px;
}
.button_get {
  border-width: 1px;
  border-color: #ff6d6d;
  border-style: solid;
  border-radius: 3px;
  background-color: #ff6d6d;
  width: 50px;
  height: 47px;
}
.description {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
}
.text {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: rgba(40, 40, 40, 0.6);
  letter-spacing: 0.04em;
  line-height: 26px;
}
.text p {
  margin-bottom: 30px;
}
.text p:last-child {
  margin-bottom: 0;
}
.text_white-alpha-italic {
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, 0.659);
}
.text_white-alpha {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.659);
}
.text_white {
  font-weight: 400;
  color: #f6f5f3;
}
.text_services {
  font-weight: 400;
  color: rgba(246, 245, 243, 0.6);
  text-align: center;
}
.text_services:after {
  content: "terms & Services";
  text-decoration: underline;
  cursor: pointer;
}
.text_arrow:before {
  position: absolute;
  right: 200px;
  top: 10px;
  content: '';
  width: 16px;
  height: 35px;
  background-image: url("blocks/registration/images/arrow2.png");
}
.platform {
  position: relative;
  background-color: white;
}
.platform:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 568px;
  height: 100%;
  background: #ececec;
  content: '';
}
.platform__content {
  padding: 190px 568px 190px 0;
  background-color: white;
}
.platform__label {
  margin-bottom: 15px;
}
.platform__title {
  margin-bottom: 35px;
}
.features {
  background: #f6f5f3;
  overflow-y: hidden;
}
.features__content {
  position: relative;
}
.features__image {
  width: 300px;
  height: 300px;
}
.features__image_penholder {
  position: absolute;
  background-image: url("blocks/features/images/PenHolder.jpg");
  background-repeat: no-repeat;
  left: -65px;
  top: 0px;
}
.features__image_earphones {
  position: absolute;
  background-image: url("blocks/features/images/Earphones.jpg");
  background-repeat: no-repeat;
  top: -3px;
  right: -85px;
}
.features__image_coffecup {
  position: absolute;
  background-image: url("blocks/features/images/CoffeCup.jpg");
  background-repeat: no-repeat;
  right: -150px;
  bottom: -175px;
}
.features__inner {
  padding: 150px 0;
  text-align: center;
}
.features__label {
  text-align: inherit;
  margin-bottom: 10px;
}
.features__title-inner {
  margin-bottom: 70px;
  text-align: inherit;
}
.features__items {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.features__item {
  width: calc(28% - 10px);
  min-width: 350px;
  background-repeat: no-repeat;
  background-position: top center;
}
.features__item_one {
  background-image: url("blocks/features/images/item-one.jpg");
}
.features__item_two {
  background-image: url("blocks/features/images/item-two.jpg");
}
.features__item_three {
  background-image: url("blocks/features/images/item-three.jpg");
}
.features__title {
  margin-top: 95px;
  margin-bottom: 10px;
}
.features__text {
  text-align: center;
}
.presentation {
  overflow-y: hidden;
  min-width: 1450px;
}
.presentation__triangle {
  width: 0;
  height: 0;
  border-left: 688px solid #ff8a8a;
  border-top: 720px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}
.presentation__triangle:after {
  position: absolute;
  bottom: 70px;
  right: -98px;
  width: 630px;
  height: 367px;
  background-image: url("blocks/presentation/images/MacBook.jpg");
  background-repeat: no-repeat;
  content: '';
}
.presentation__content {
  padding: 150px 0 120px 655px;
}
.presentation__label {
  margin-bottom: 15px;
}
.presentation__title {
  margin-bottom: 35px;
}
.clients {
  background-color: #000000;
  background-image: url("blocks/clients/images/clients-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.clients__content {
  padding: 70px 0;
}
.clients__items {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
  text-align: center;
}
.clients__item {
  min-width: 330px;
  width: calc(23.333%);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.clients__picture {
  width: 76px;
  height: 76px;
  background-color: #4e4e5e;
  border: 2px solid;
  border-color: #1d1e24;
  margin-bottom: 20px;
}
.clients__title {
  margin-bottom: 5px;
}
.clients__label {
  margin-bottom: 15px;
}
.clients__text {
  text-align: inherit;
}
.clients__logos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.clients__logo {
  display: inline-block;
}
.features-two {
  background-color: #f6f5f3;
  background-repeat: no-repeat;
  background-image: url("blocks/features-two/images/features-two-image.jpg");
  background-position: center bottom;
  padding-bottom: 350px;
}
.features-two__content {
  text-align: center;
}
.features-two__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 75px;
}
.features-two__label {
  margin-bottom: 15px;
}
.features-two__title {
  margin-bottom: 35px;
}
.features-two__text {
  max-width: 660px;
  text-align: inherit;
}
.registration {
  background-color: #323969;
  padding: 100px 0;
}
.registration__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.registration__label {
  margin-bottom: 15px;
}
.registration__title {
  margin-bottom: 7px;
}
.registration__box-text-button {
  position: relative;
}
.registration__text {
  position: absolute;
  bottom: 80px;
  right: 35px;
}
.registration__inputs {
  margin-bottom: 45px;
}
.registration__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer {
  padding: 81px 0 81px 0;
}
.footer__triangle {
  width: 0;
  height: 0;
  border-right: 325px solid #ff8a8a;
  border-bottom: 332px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 162.5px;
}
.footer__section-type-one {
  width: 305px;
}
.footer__section-type-two {
  width: 190px;
}
.footer__start-logo {
  margin-bottom: 15px;
}
.footer__title {
  padding-top: 12px;
  margin-bottom: 30px;
}
.footer__button {
  position: relative;
  margin-left: -10px;
  margin-bottom: 25px;
  top: 2px;
  background-image: url("blocks/footer/images/button-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__logos {
  padding-left: 50px;
}
.footer__logo {
  display: inline-block;
  margin-right: 35px;
}
body {
  background-color: white;
}
body * {
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
