.title {
  font: 400 40px 'Exo';
  color: rgb(40, 40, 40);
  letter-spacing: 0.04em;



  &_dots {
    display: inline-block;
    transform: translateY(3px);

    padding-left: 13px;

    color: rgb(255, 109, 109);
    font-size: 14px;
    letter-spacing: 0.04em;
  }
}
