.header {
  background-image: url("blocks/header/images/BG-H.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll; //решило проблему уменьшения фона и отделения нижней секции от него (из-за пэддинга)
  background-position: center center;
  background-size: cover;

  min-width: 1190px;

  padding: 250px 0;

  &__content {
    width: 709px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin-bottom: 40px;
  }

  &__icon {
    position: relative;

    margin-bottom: 40px;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__description {

  }
}

